<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/bootstrap-4.2.1-dist/css/bootstrap.min.css">
    <title>Review</title>
</head>
<body>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Reviews</h1>
        <p class="lead">What people are thinking about</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <ul class="list-group">
                <li class="list-group-item" th:each="review: ${reviews}">
                    - <span th:text="*{review.reviewId}"></span>
                    <span th:text="*{review.author}"></span>
                    <span th:text="*{review.body}"></span>
                </li>
            </ul>
            <p></p>
            <a class="btn btn-primary" href="/books" role="button">Back</a>
        </div>
    </div>
</div>
<script src="/assets/js/jquery-3.0.0.slim.min.js"></script>
<script src="/assets/bootstrap-4.2.1-dist/js/bootstrap.bundle.js"></script>
</body>
</html>