<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="loader" class="ru.otus.spring01.data.SimpleCSVLoader">
    </bean>

    <bean id="questionDao" class="ru.otus.spring01.dao.SimpleQuestionDao">
        <constructor-arg name="loader" ref="loader"/>
    </bean>

    <bean id="quizDao" class="ru.otus.spring01.dao.SimpleQuizDao">
    </bean>

    <bean id="quizService" class="ru.otus.spring01.service.SimpleQuizService">
        <constructor-arg name="questionDao" ref="questionDao"/>
        <constructor-arg name="quizDao" ref="quizDao"/>
    </bean>

    <bean id="simpleUI" class="ru.otus.spring01.ui.SimpleUI">
    </bean>
</beans>